# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/
ios/

# Metro
.metro-health-check*
.expo-start.log

# Environment
.env
.env.local

# Local databases
*.db
*.db-shm
*.db-wal

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Build artifacts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
